
title="POSTEn - " + title
link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz', type='text/css')
link(rel='stylesheet', href='./stylesheets/style.css') 
body
	block header
		#header_title
			h1 POSTEn - POrtabelt STödsystEm för n0llan
		if (loggedin)
			#linkbar
				tr
					td 
						a(href='/event') Event
					td
						a(href='/news') Nyheter
					td
						a(href='/logout') Logga ut
					if (adminrole)
						td
							a(href='/admin') Admin
	block flow
block scripts
	script(src="http://code.jquery.com/jquery-1.10.1.min.js")
	script(src="http://code.jquery.com/jquery-migrate-1.2.1.min.js")
	script(src="/clientscripts/scripts.js")