
if title
	title="nAppen - " + title
else
	title="nAppen"
link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz', type='text/css')
link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Freckle+Face', type='text/css')
link(rel='stylesheet', href='./stylesheets/style.css')
head
	meta(name="viewport", content="width=device-width, minimum-scale=1.0, maximum-scale=1.0");
body
	block header
		#title
			#linus
				img(src='static/linus.png')
			#text
				h1 nAppen
			#shield
				a(href='http://www.datasektionen.se/')
					img(src='static/shield.png')
		.clear
		if (loggedin)
			#navbar
				ul
					li
						a(href='/news') Nyheter
					li
						a(href='/event') Event
					if (dadminrole)
						li
							a(href='/dadmin') Dadmin
					if (adminrole)
						li
							a(href='/admin') Admin
			.clear
	block errormessage
		.errormsg	
			p #{message}						
	block flow
block scripts
	script(src="http://code.jquery.com/jquery-1.10.1.min.js")
	script(src="http://code.jquery.com/jquery-migrate-1.2.1.min.js")
	script(src="/clientscripts/scripts.js")