block scripts
	script(src="http://code.jquery.com/jquery-1.10.1.min.js", type="script")
	script(src="http://code.jquery.com/jquery-migrate-1.2.1.min.js", type="script")
	script $("#eventblock").click(function(){window.location=$(this).find("a").attr("href"); return false;});