extends base
block flow
	#eventflow
		each event in events
			#eventblock
				h2 #{event.title}
				p #{event.description}
				a(href='/event' + "?eventID=" + event.url)
block scripts
	include buttonscripts