.errormsg
{
color:red;
}

body 
{
	font-family: 'Yanone Kaffeesatz', serif;
	width: 80%;
	margin-left: 1em;
	background-image:url('http://www.datasektionen.se/images/background.png');
}

h1
{
	font-size: 24px;
	font-weight: normal;
}

textarea:focus, input:focus {
	border: 2px solid #F400A1;
}

label {
	display: block;
	text-align: left;
	margin-right: 20px;
}

textarea
{
	width: 100%;
}

select
{
	width: 100%;
}

#linkbar
{
	font-size: 18px;
	background: #F400A1;
	color: white;
	text-decoration: none;
	
}

#linkbar a:link 
{
	text-decoration:none;
	color: #FFFBFF;
}
#linkbar a:visited 
{
	text-decoration:none;
	color: #FFFBFF;
	text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 
}
#linkbar a:hover 
{
	text-decoration:none;
}
#linkbar a:active 
{
	text-decoration:none;
}

#header_title
{
	margin-left: 0em;
}

.eventblock
{
	margin-top: 3px;
	border: 3px solid #F400A1;
}

input[type=submit]{
	border: 1px solid #777777;
	background: #F400A1;
	color: white;
	font: bold 11px 'Trebuchet MS';
	margin-top: 10px;
	padding: 4px;
	cursor: pointer;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

#currentMission
{
	margin-top: 1px;
	border: 3px solid #F400A1;
}

