.errormsg
{
color:red;
}

body 
{
	font-family: 'Yanone Kaffeesatz', serif;
	width: 80%;
	margin-left: 1em;
	background-image:url('http://www.datasektionen.se/images/background.png');
}

h1
{
	font-size: 24px;
	font-weight: normal;
}

textarea:focus, input:focus {
	border: 2px solid #F400A1;
}

label {
	display: block;
	text-align: left;
	margin-right: 20px;
}

textarea
{
	width: 100%;
}

select
{
	width: 100%;
}

#navbar {
	background: #F400A1;
	border-radius: 5px;
}

#navbar ul {
	list-style-type: none;
	display:inline-block;
	margin-left: -25px;
}

#navbar ul li {
    float: left;
}

#navbar ul li+li {
	border-left: 1px solid #77006f;
}
 
#navbar li a {
    color: #ffccfb;
    text-decoration: none;
    font-size: 18px;
    padding: 5px;
}
 
#navbar li a:active {
    color: #7eb9be;
}

.clear {
	clear: both;
}

#header_title
{
	margin-left: 0em;
}

.eventblock
{
	margin-top: 3px;
	border: 3px solid #F400A1;
}

input[type=submit]{
	border: 1px solid #777777;
	background: #F400A1;
	color: white;
	font: bold 11px 'Trebuchet MS';
	margin-top: 10px;
	padding: 4px;
	cursor: pointer;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

#currentMission
{
	margin-top: 1px;
	border: 3px solid #F400A1;
}

.objectAssignmentBox
{
	width: 20%;
	display: inline-block;
	border: 1px solid #F400A1;
	margin-bottom: 4px;
	margin-right: 1px;
	padding-left: 2px;
	padding-right: 2px;
}

p.trigger{
	font-size: 18px;
    margin-bottom:7px;
    margin-top:-5px;
    padding: 5px;
}

p.trigger:active{
	color: #F400A1;
}

.toggle_container{
    margin-bottom:10px;
}

.toggle_container p{
    margin:0px;
}

.toggle_container{
    background:#f0f0f0;
    clear: both;
    font-size:100%;
    border-style:solid;
	border-width:1px;
	padding: 10px;
}

.thumbnail {
	margin: 5px;
	border: 2px solid #F400A1;
}
